/* CSS TEMPLATE GRID CARDS HOME */

.cards_container_parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    border-radius: 25px;
    width: 84vw;
    height: auto;
    background-color: #f7f7f7;
}


.card {
    display: flex;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}