/* CSS du grid template 1x4 */

.grid-1x4 {
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 4;
}

.titre_deroulant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FF6060;
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: 300;
    color: #FFF;
    border-radius: 5px;
    text-align: left;
    padding: 5px 15px 5px 10px;
    border: none;
}

.titre_deroulant p {
    display: none;
    background-color: #F7F7F7;
    color: #FF6060;
    font-family: Montserrat;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}