/* CSS du footer principal */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


/* @media (max-width: 1440px) { */
footer {
    width: 100%;
    height: 209px;
}

.container_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    background-color: #000;
    font-size: 26px;
    color: white;
}

.logo_footer {
    width: 122px;
}

@media (max-width: 550px) {

    .container_content {
        margin-top: 25px;
        font-size: 15px;
    }

}